# Discord Bot Configuration
# 1. Phương thức Discord Bot API :
DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=

# 2. Phương thức Discord Webhook (Tùy chọn fallback):
DISCORD_WEBHOOK_URL=

# AI LLM Configuration (Chuẩn Universal OpenAI-Compatible)
API_KEY=
MODEL=
BASE_URL=

